src/LessUACRunner.Console/LessUACRunnerConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lessUACRunner">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="allowedApp" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="shortcut" use="optional"/>
                <xs:attribute type="xs:string" name="path" use="optional"/>
                <xs:attribute type="xs:string" name="args" use="optional"/>
                <xs:attribute type="xs:string" name="console" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>